%html
  %head
    %script(src='jquery.js')
    %script(src='jquery.pjax.js')
    %script(src='pjax.js')
    %script(src='bootstrap.js')
    %script(src='commit.js')
    %link(rel='stylesheet' href='bootstrap.css')
    %link(rel='stylesheet' href='styles.css')
  %body
    = pjax_wrap(log_pane)
    = pjax_wrap(fileview_pane)
    = pjax_wrap(diff_pane)

