%html
  %head
    %script(src='jquery.js')
    %script(src='jquery.pjax.js')
    %script(src='pjax.js')
    %link(rel='stylesheet' href='styles.css')
  %body
    .header
    .body
      .main-content
        %p "Hello!" 
      .common-navigation(align='right')
        %form
          %input(type='button' value='次へ' onclick='go_next()') 
    .footer
  
