$header_footer_color: black
$footer_height: 40px

body
  margin: 0px

.header
  height: 40px
  width: 100%
  background-color: $header_footer_color

.body
  margin: 8px

.common-navigation
  position: absolute
  bottom: $footer_height
  height: 40px
  width: 100%
  margin-left: -20px

.footer
  position: absolute
  bottom: 0px
  height: $footer_height
  width: 100%
  background-color: $header_footer_color


