
$log_pane_width: 30%
$remote_pane_default_height: 50%
$fileview_pane_default_height: 50%


body
  margin: 0
  padding: 0
  height: 100%

.commit_preview.selected
  background-color: lightblue

#log_pane
  height: 100%
  width: $log_pane_width

#remote_pane
  position: absolute
  top: 0
  left: 0
  height: $remote_pane_default_height
  width: 100%

#local_pane
  position: absolute
  top: $remote_pane_default_height
  left: 0
  height: 100% - $remote_pane_default_height
  width: 100%

#fileview_pane
  position: absolute
  left: $log_pane_width
  right: 0
  top: 0
  height: $fileview_pane_default_height

#diff_pane
  position: absolute
  left: $log_pane_width
  right: 0
  top: $fileview_pane_default_height
  height: 100% - $fileview_pane_default_height
